.containerHome {
    color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 10%;
    right: 10%;
    top: 30%;
    background-color: rgba(0,0,0,0);
}
    .containerHome .btn {
        background-color: rgba(0,0,0,0.5);
        color: white;
        margin-bottom:15px;
        width: 140px;
    }

.link {
    margin: auto;
}